force-app/main/default/flows/Developer_Checklist_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Apex_to_List</name>
        <label>Add Apex to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistApex4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistApex5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistApex6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistApex7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_there_is_Omni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklist1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklist2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklist3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_No_Apex_Question_to_List</name>
        <label>Add to No Apex Question to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoApexinCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_there_is_Omni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_No_Omni_Question_to_List</name>
        <label>Add to No Omni Question to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoOmniinBranch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Developer_Check_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Omni_List</name>
        <label>Add to Omni List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistOmni8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistOmni9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistOmni10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Developer_Checklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeveloperChecklistOmni11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Developer_Check_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ApexAssignQ1</name>
        <label>Apex AssignQ1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex4.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Have the static code analysis violations been resolved/aligned with TA?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex4.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex4.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex4.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexAssignQ2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ApexAssignQ2</name>
        <label>Apex AssignQ2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex5.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do your Apex Test Classes run successfully with code coverage % as per project standards?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex5.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex5.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex5.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexAssignQ3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ApexAssignQ3</name>
        <label>Apex AssignQ3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex6.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Have you used best practises to build CSS/HTML , Apex Class, Triggers,Test Classes,Objects etc?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex6.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex6.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistApex6.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Apex_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQ1</name>
        <label>AssignQ1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklist1.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Definition of Ready documented and aligned with stakeholders</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist1.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist1.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist1.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignQ2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQ2</name>
        <label>AssignQ2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklist2.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Definition of Done documented and aligned with stakeholders</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist2.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist2.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist2.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignQ3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQ3</name>
        <label>AssignQ3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklist3.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Are Naming Conventions / Coding Standards followed for all the components?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist3.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist3.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklist3.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Apex_Assign</name>
        <label>No Apex Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NoApexinCode.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Trigger,Apex,LWC in the Branch?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoApexinCode.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoApexinCode.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoApexinCode.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_No_Apex_Question_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Omni_Assign</name>
        <label>No Omni Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NoOmniinBranch.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Omni Components in the Branch?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOmniinBranch.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omni Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOmniinBranch.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOmniinBranch.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_No_Omni_Question_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OmniAssignQ1</name>
        <label>Omni AssignQ1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni8.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Are Naming Conventions / Coding Standards followed for all the components?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni8.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omni Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni8.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni8.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OmniAssignQ2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OmniAssignQ2</name>
        <label>Omni AssignQ2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni9.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Have you Implemented exception Handling for SFI Components?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni9.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omni Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni9.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni9.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OmniAssignQ3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OmniAssignQ3</name>
        <label>Omni AssignQ3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni10.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Have you considered using a IP Cache block  to store frequently accessed, infrequently updated data saves round trips to the database and improves performance?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni10.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omni Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni10.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni10.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OmniAssignQ4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OmniAssignQ4</name>
        <label>Omni AssignQ4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni11.Governanace_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omnistudio Validator Check tool?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni11.Applicable_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omni Components</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni11.Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeveloperChecklistOmni11.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Omni_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Add_Apex</name>
        <label>Add Apex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Apex_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_You_have_Apex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApexAssignQ1</targetReference>
            </connector>
            <label>Has Apex</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_records</name>
        <label>Check if there are records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Developer_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_record_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Developer_Check_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_Developer_Checklist</targetReference>
            </connector>
            <label>Check if record is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_there_is_Omni</name>
        <label>If there is Omni</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Omni_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Omni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q4_Do_you_have_Omni</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OmniAssignQ1</targetReference>
            </connector>
            <label>Check for Omni</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Completed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Completed__c</picklistField>
        <picklistObject>Developer_Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompletedSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Completed__c</picklistField>
        <picklistObject>Developer_Checklist__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Developer Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Checklist Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Developer_Checklist</name>
        <label>Create Developer Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Developer_Checklist</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Developer_Checklist</name>
        <label>Delete All Developer Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Developer_Checklist</targetReference>
        </connector>
        <inputReference>Get_all_Developer_Check_List</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_Developer_Check_List</name>
        <label>Get all Developer Check List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Developer_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Developer_Checklist_Flow</name>
        <label>Developer Checklist Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignQ1</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_S1</name>
            <fieldText>Story Readiness</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_S1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q1</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Q1. Definition of Ready documented and aligned with stakeholders</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q2</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Q2. Definition of Done documented and aligned with stakeholders</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q3</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Q3. Are Naming Conventions / Coding Standards followed across all the components you built?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Do_You_have_Apex</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Q4. Do You have Trigger,Apex,LWC in the Branch?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q4_Do_you_have_Omni</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Q5. Do you have Omni Components in the Branch?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_S1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RefereneURL</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Referene Material&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Standard1</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;https://developer.salesforce.com/ja/wiki/apex_code_best_practices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Apex Code Best Pracctices&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://help.salesforce.com/s/articleView?id=sf.os_omniscript_best_practices.htm&amp;amp;amp;amp;type=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Omniscript Best Practices&lt;/a&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_S2</name>
            <fieldText>Core Components (Trigger,Apex,LWC)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_S2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q4</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Apex Q1. Have the static code analysis violations been resolved/aligned with TA ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q5</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Apex Q2. Do your Apex Test Classes run successfully with code coverage % as per project standards?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q6</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Apex Q3. Have you used best practises to build CSS/HTML , Apex Class, Triggers,Test Classes,Objects etc?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_You_have_Apex</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_2_of_S3</name>
            <fieldText>Omnistuido Components (Omniscripts,Data Mappers,Integration Procedures,Flex Cards)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_S3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Q7</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Omni Q1. Have you taken into consideration the Reusablity of existing components like Omniscripts,Data Mappers,Flex Cards,Integration Procedures ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q8</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Omni Q2. Are Naming Conventions / Coding Standards followed for all the components?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q9</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Omni Q3. Have you Implemented exception Handling for SFI Components ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q10</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Omni Q4. Have you considered using a IP Cache block  to store frequently accessed, infrequently updated data saves round trips to the database and improves performance?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Q11</name>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Omni Q5. Omnistudio Validator Check?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q4_Do_you_have_Omni</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Developer_Checklist_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Developer_Checklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklist1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklist2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklist3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistApex4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistApex5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistApex6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistApex7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistOmni10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistOmni11</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistOmni8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>DeveloperChecklistOmni9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>NoApexinCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>NoOmniinBranch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Checklist__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
